{% extends "layout.html" %}

{% block body %}
  <p>
    <h2 align="center">Tervetuloa Opinahjon kotisivuille</h2>
    <center><i>Tarjoamme ohjelmoinnin kursseja</i></center>
  <p><hr>
  <br />
  <p>Opiskelija, valitse toiminto:
      <ul>
        <li><a href="{{ url_for('kurssit_index') }}">Näytä koko opetusohjelma</a></li>
        <li><a>Näytä valitut kurssit</a></li>
      </ul>
  </p>

  <br /><br />

  <p>Opettaja, valitse toiminto:
      <ul>
        <li><a href="{{ url_for('kurssit_form') }}">Lisää uusi kurssi opetusohjelmaan</a></li>
      </ul>

{% endblock %}
