{% extends "layout.html" %}

{% block body %}
<h3>Hei, {{ user.username }}</h3>

<!-- profiili -->
{% if user.student %}
  <h6>(Opiskelija)</h6>
{% elif user.teacher %}
  <h6>(Opettaja)</h6>
{% endif %}
<hr>

<!-- opiskelijalle näytetään kurssi-ilmoittautumiset -->
{% if user.student %}
  {% if student_my_courses is defined %}
  <b>Ilmoittautumiset</b>
    <table border="1">
      <tr>
        <th width="200" style="text-align: center">Kurssi</th>
        <th width="200" style="text-align: center">Lasku ja maksu</th>
        <th width="200" style="text-align: center">Peru ilmoittautuminen</th>
      </tr>
      {% for course in student_my_courses %}
      <tr>
          {% if user.username == course.student %}
          <td>{{ course.kurssi }}</td>
          <td style="text-align: center">
            <form menthod="POST" action="{{ url_for('create_invoice', kurssi_id=course.id, user_id=user.id) }}">
              <input type="submit" value="Luo lasku" style="width:140px"/>
            </form>
          </td>
          <td style="text-align: center">
            <form menthod="POST" action="{{ url_for('disenroll_course', kurssi_id=course.id) }}">
              <input type="submit" value="Peru" style="width:100px"/>
            </form>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
    </table>
  <hr>
  {% endif %}
{% endif %}



<!-- opettajan näkymä -->
{% if user.teacher %}
  {% if teacher_my_courses is defined %}
  <b>Minun opettamat kurssit</b> <br />
  <ul>
    {% for course in teacher_my_courses %}
      {% if user.id==course.teacher %} <!-- kirjautunut opettaja -->
      <li>{{ course.name }} <br/>
      <a href="{{ url_for('kurssit_modify', kurssi_id=course.id) }}">
        <input type="submit" value="Muokkaa" style="width:150px"/></a>
      <form method="POST" action="{{ url_for('kurssit_delete', kurssi_id=course.id) }}">
        <input type="submit" value="Poista kurssi" style="width:150px"/>
      </form>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
<hr>
{% endif %}


{% if user.teacher %}
  {% if all_enrollments is defined %}
  <b>Minun kursseille ilmoittautuneet opiskelijat</b> <br />
  <table border="1">
    <tr>
      <th width="200" style="text-align: center">Kurssi</th>
      <th width="120" style="text-align: center">Opiskelija</th>
      <th width="120" style="text-align: center">Maksettu</th>
    </tr>
    {% for row in all_enrollments %}
    {% if row.teacher == user.id %} <!-- vain kirjautuneen opettajan kurssit näytetään -->
    <tr>
      <td>{{ row.course }}</td>
      <td style="text-align: center">{{ row.student }}</td>
      <td style="text-align: center">...</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}
<hr>
{% endif %}


{% if user.teacher %}
  <a href="{{ url_for('show_invoices') }}">Näytä laskutus- ja muut tiedot</a>
<hr>
{% endif %}

{% endblock %}
