{% extends "layout.html" %}

{% block body %}
    <h1>Hei, {{ user.username }}</h1>

    <!-- profiili -->
    {% if user.student %}
    <h6>(Opiskelija)</h6>
    {% elif user.teacher %}
    <h6>(Opettaja)</h6>
    {% endif %}
    <hr>

<!-- opiskelijalle näytetään kurssi-ilmoittautumiset -->
{% if user.student %}
  {% if student_my_courses is defined %}
  <b>Ilmoittautumiset</b>
    <ul>
      {% for course in student_my_courses %}
        {% if user.username == course.student %}
          <li>{{course.kurssi}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  <hr>
  {% endif %}
{% endif %}



<!-- opettajan näkymä -->
{% if user.teacher %}
  {% if teacher_my_courses is defined %}
  <b>Minun opettamat kurssit</b> <br />
  <ul>
    {% for course in teacher_my_courses %}
      {% if user.id==course.teacher %} <!-- kirjautunut opettaja -->
      <li>{{course.name}} <br/>
      <a href="{{ url_for('kurssit_modify', kurssi_id=course.id) }}">
        <input type="submit" value="Muokkaa" style="width:150px"/></a>
      <form method="POST" action="{{ url_for('kurssit_delete', kurssi_id=course.id) }}">
        <input type="submit" value="Poista kurssi" style="width:150px"/>
      </form>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
<hr>
{% endif %}


{% if user.teacher %}
  {% if teacher_info is defined %}
  <b>Opiskelijalista</b> <br />
  <ul>
    {% for user in teacher_info %}
      {% if user.student %} <!-- näytetään usereista vain opiskelijat -->
      <li>{{user.name}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
<hr>
{% endif %}




{% endblock %}
