
{% extends "layout.html" %}

{% block body %}

hei kaikkilaskut

<form method="GET" action="{{ url_for('show_invoices') }}">
  <input type="text" name="name"/>
  <input type="submit" value="Näytä laskut"/>
</form>

<hr>

{% if courses_and_enrollments_count is defined %}
  <b>Kaikki kurssit ja ilmoittautuneet</b> <br />
  <table border="1">
    <tr>
      <th width="200" style="text-align: center">Kurssi</th>
      <th width="150" style="text-align: center">Ilmoittautuneita</th>
    </tr>
    {% for row in courses_and_enrollments_count %}
    <tr>
      <td>{{row.course}}</td>
      <td style="text-align: center">{{row.count}}</td>
    </tr>
    {% endfor %}
  </table>
  <hr>
{% endif %}


{% if student_enrollments_count is defined %}
  <b>Opiskelijakohtaiset ilmoittautumismäärät</b> <br />
  <table border="1">
    <tr>
      <th width="120" style="text-align: center">Opiskelija</th>
      <th width="100" style="text-align: center">Kursseja</th>
    </tr>
    {% for row in student_enrollments_count %}
    {% if row.student %}
    <tr>
      <td style="text-align: center">{{row.name}}</td>
      <td style="text-align: center">{{row.count}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
{% endif %}
  <hr>


{% endblock %}

