{% extends "layout.html" %}

{% block body %}
  <h3 align="center">Opetusohjelma</h3> <hr>

  <!-- kurssimäärä -->
  {% if school_total_courses_offered is defined %}
    <b>Tarjoamme tällä hetkellä
      {% for lkm in school_total_courses_offered %}
        {{lkm.course_count}} kurssia.
      {% endfor %} </b>
  {% endif %}

  <!-- opettajamäärä -->
  {% if school_teachers_total is defined %}
    <b>Koulussamme on
      {% for lkm in school_teachers_total %}
        {{lkm.teacher_count}} opettajaa.
      {% endfor %} </b> <br /> <br />
  {% endif %}



  <!-- Opetusohjelma-taulu -->
  <table border="1">
    <tr>
      <center><th width="40">Nro</th><center>
      <center><th width="250">Kurssi</th><center>
      <center><th width="130">Opettaja</th><center>
      <!-- opettajalle ei näytetä paikanvarausta ja ilmoittautumista -->
      {% if not current_user.teacher %}
      <center><th width="100">Paikka varattu</th><center>
      <center><th width="170">Ilmoittautuminen</th><center>
      {% endif %}
    </tr>
    {% for kurssi in courses_and_teachers %}
    <tr>
      <td align="center">{{ kurssi.id }}</td>
      <td>{{ kurssi.kurssi }}</td>
      <td align="center">{{kurssi.opettaja}}</td>
      <!-- opettajalle ei näytetä paikanvarausta ja ilmoittautumista -->
      {% if not current_user.teacher %}
        <td align="center">...</td>
      <td>
        <form method="POST" action="{{ url_for('ilmoittaudu_kurssille', kurssi_id=kurssi.id) }}">
          <center><input type="submit" value="Varaa paikka"/></center>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
<hr>



<!-- opiskelijalle näytetään hänen kurssi-ilmoittautumiset -->
{% if current_user.student %}
  {% if student_my_courses is defined %}
  <b>Ilmoittautumiset</b>
    <ul>
      {% for kurssi in student_my_courses %}
        {% if current_user.username == kurssi.student %}
          <li>{{kurssi.kurssi}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  <hr>
  {% endif %}
{% endif %}



<!-- opettajalle näytetään hänen opettamat kurssit -->
  {% if current_user.teacher %}
    <b>Minun opetus: </b> <br />
  {% endif %}
  {% for kurssi in kurssit %}
    {% if kurssi.account_id==current_user.id %}
      <i>{{ kurssi.name }}</i> <br />
    {% endif %}
  {% endfor %}

{% endblock %}

