{% extends "layout.html" %}

{% block body %}
  <h3>Opetusohjelma</h3>
  <table border="1">
    <tr>
      <center><th width="250">Kurssi</th><center>
      <center><th width="120">Suoritettu</th><center>
      <center><th width="150">Merkitse suoritetuksi</th><center>
    </tr>
    {% for kurssi in kurssit %}
    <tr>
      <td>{{ kurssi.name }}</td>
      <td align="center">{{ kurssi.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('kurssit_set_done', kurssi_id=kurssi.id) }}">
	  <center><input type="submit" value="Suoritettu!"/></center>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
