{% extends "layout.html" %}

{% block body %}
  <table border="1"> <caption align="center">Kurssitarjontamme
    <tr>
      <th width="250">Kurssi</th>
      <th width="120">Suoritettu</th>
      <th width="150">Merkitse suoritetuksi</th>
    </tr>
    {% for kurssi in kurssit %}
    <tr>
      <td>{{ kurssi.name }}</td>
      <td align="center">{{ kurssi.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('kurssit_set_done', kurssi_id=kurssi.id) }}">
	  <center><input type="submit" value="Suoritettu!"/></center>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
