{% extends "layout.html" %}

{% block body %}

<p>Uusi käyttäjä? <a href="{{ url_for('user_registration') }}">Rekisteröidy tästä!</a></p>
<hr>
<br />

<p><span style="color: red;">{{ error }}</span></p>
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>{{ form.username.label }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td></td>
      <td>{{ form.submit() }}</td>
    </tr>
</form>
{% endblock %}
