{% extends "layout.html" %}

{% block body %}

<h3>Kirjautuminen ja rekisteröityminen</h3><hr>

<p>Uusi käyttäjä? <a href="{{ url_for('user_registration') }}">Rekisteröidy tästä!</a></p>
<hr> <br />

<p>Syötä käyttäjätunnus ja salasana<span style="color: red;">{{ error }}</span></p>
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>{{ form.username.label }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td></td>
      <td>{{ form.submit() }}</td>
    </tr>
  </table>
</form>
{% endblock %}
